body{ 
    background-color: #f2eee9;
    
}
.highlight_item{
    
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:60%;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin:auto;
}
.highlight_cover:hover{ animation:pulse 2s infinite;}
@keyframes pulse {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.05);}
}
.highlight_cover{
    border-radius: 3%;
    background-color:  rgba(255, 255, 255, 0.033);
    width:100%;
    box-shadow: 0px 0px 30px rgba(150, 150, 150, 0.4)
}

.project_blurb{
    text-align: left;
    font-size: 1.6em;
}
.navigation{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80%;
    padding:10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(150, 150, 150, 0.4);
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    margin:2% auto;
}
.navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
.navbar ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    gap:20px;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar ul li a:hover{
    color:#7D0B16;
    font-size: 1.02em;
}
.navbar ul li a:active{
    color:#7D0B16;
}
.content_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin:auto;
}
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    padding: 20px;
    width:60%;
}
a{
    text-decoration: none;
    color:#000;
}
.top_logo{
    max-height: 30px;
}
.big_logo{
    width:30%;
}
#portrait{
    width:30%;
    border-radius: 50%;
}
#bio{
    width:80%
}
#contact_me{
    text-align: center;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(150, 150, 150, 0.2);
    backdrop-filter: blur(20px);
    padding: 5px 20px 20px 20px;
    width: 80%;
    backdrop-filter: blur(20px);
}
.social_icon{
    width:30px;
    margin: 0 10px;
    box-shadow:4px 0px 4px rgba(150, 150, 150, 0.);
}
svg {
  position: fixed;
  top: 50%;
  right: 1%;
  margin-top: -50px;
  margin-left: -50px;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
p,h4,li,.hero_title,.hero_subtitle{
    font-family: Urbanist, sans-serif;
    line-height: 1.6;
    color: #333;
}
h1, h2, h3{
    font-family: 'Bodoni Moda SC', serif;
    color: #1E3643;
    font-weight: 700;
}
h3{
    font-size: 2em;
}
h4{
    font-size: 1.2em;
}
p{
    font-size: 1.1em;
}
.hero_subtitle{
    font-size: 1.8em;
    padding-bottom: 2%;
    font-weight: 500;
}
#hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 0% 0% 0%;
}
#welcome_links_container{
    display:flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}
.red{
    color:#7D0B16;
}
#about_hook{
    font-weight: normal;
    color:#7D0B16;
    font-size:1.4em;
}
.welcome_link{
    text-decoration: none;
    color:#f2eee9;
    font-family: Urbanist, sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1E3643;
    box-shadow: 0px 5px rgba(150, 150, 150, 0.4);
    border: 2px solid #16252e ;
    outline: 3px inset #416c86;
}
.welcome_link:hover{
    background-color: #7D0B16;
    border: 2px solid #580810 ;
    color:#f2eee9;
    outline: 3px inset #a31220;
    transform: translateY(-2px);
}
.project_image{
    width:100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(150, 150, 150, 0.4);
}
.process_section_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin:auto;
}
.process_section_head{
    text-align:center;
    margin:auto;
}
.slogans{
    text-align:center;
}
.process_image{
    width:100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(150, 150, 150, 0.4);
    margin:auto;
}
.process_images{
    display:grid;
    grid-template-columns: 45% 45%;
    gap:5px;
    justify-content: center;
    width:80%;
    flex-wrap: wrap;

}
.process_imagessm2{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    gap:5px;
    justify-content: center;
    width:80%;
    flex-wrap: wrap;

}
.process_container{
    display:grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    gap:5px;
    align-content:center;
    margin:auto;
    width:100%;
}
.final_highlight_images{
    display:grid;
    grid-template-columns: 45% 45%;
    gap:5px;
    justify-content: center;
    width:100%;
    flex-wrap: wrap;
}
.process_image_sketch{
    width:80%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(150, 150, 150, 0.4);
    margin:auto;
}
body {
    background-color: #f2eee9;
    margin: 0;
    overflow-x: hidden;
}
/*
Static noise background effect
.bg {

    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    z-index:-10;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: 70%;
    visibility: visible;
}
*/
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #a31220; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 20%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: Urbanist, sans-serif;
}

#myBtn:hover {
  background-color: #1E3643; /* Add a dark-grey background on hover */
}