/*Africa scroll animation */
svg {
  position: fixed;
  top: 50%;
  right: 1%;
  margin-top: -50px;
  margin-left: -50px;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

body{ 
    background-color: #f2eee9;
    
}

/*Highlights section */
.highlights_container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin:auto;
}
.highlight_item{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin:auto;
}
.highlights_container a {
    width: 33%;
    text-decoration: none;
    color: inherit;
}
.highlight_cover:hover{ 
    animation: pulse 2s infinite;
    cursor: url('images/curosr.png'), auto;

}
@keyframes pulse {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.05);}

}
.highlight_cover{
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.033);
    width:100%;
    box-shadow: 0px 0px 30px rgba(150, 150, 150, 0.4)
}

.project_blurb{
    text-align: left;
    font-size: 1.6em;
}

/*Navigation section */
.navigation{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:95%;
    padding:10px 20px;
    border-radius: 10px;
    margin:3% auto;
}

.navbar{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    position: absolute;
    top: 80px;
    right: 5px;
    width: 150px;
    text-align: right;
    border-radius:10px;
}
.navbar.active{
    display:flex;
    max-height: 300px;
}
.navbar ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar ul li a:hover{
    color:#7D0B16;
    font-size: 1.02rem;
}
.navbar ul li a:active{
    color:#7D0B16;
}
.menu_icon_image{
    height: 25px;
    transition: animation 0.1s ease;
}
.menu_icon_image:hover{
    cursor: url('images/curosr.png'), auto;
    animation: pulse 2s infinite;
}
/*main page layout */
.content_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin:auto;
}
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    padding: 20px;
    width:60%;
}
@media (max-width: 768px) {
    .highlights_container a {
    width: 45%;
    }
    .navbar ul{
        font-size: 0.9rem;
        line-height: 1.5;
    }
    .navbar{
        right:10px;
        margin: 10px;
        width:100px;
        padding: 5px;
    }
    .content_container{
        width:95%;
    }
    svg{
        width: 80px;
    }
}
@media (max-width: 600px) {
    .navbar{
        background-color: #f2eee9;
    }
}

/*----------------*/
a{
    text-decoration: none;
    color:#000;
}
.top_logo{
    max-height: 30px;
    transition: animation 0.2s ease;
}
.top_logo:hover{
    animation: pulse 2s infinite;
    cursor:url('images/curosr.png'), auto;
}
.big_logo{
    width:30%;
}
@media (max-width: 768px) {
    .big_logo{
        width:60%;
    }
}
/*About section */
#portrait{
    margin-top: 30px;
    background-color:  rgba(255, 255, 255, 0.033);
    width:100%;
    box-shadow: 0px 0px 30px rgba(150, 150, 150, 0.4);
    margin:auto;
}
#bio{
    width:80%;
}
#bio .red{
    font-size:1.6rem;
}
#contact_me{
    border:#2d2d2d20 solid 2px;
    text-align: center;
    margin: 40px auto;
    border-radius: 10px;
    padding: 5px 20px 20px 20px;
    width: 300px;
}
.social_icon{
    width:30px;
    margin: 0 10px;
    transition: animation 0.2s ease;
}
.social_icon:hover{
    animation: pulse 2s infinite;
    cursor: url('images/curosr.png'), auto;
}
.irregular_card {
    padding: 2rem;
    background: #f2eee9;
    width: 100%;
    border: 3px solid #a31220;
    clip-path: polygon(
        60% 5%,
        95% 10%,
        90% 5%,
        90% 30%,
        90% 60%,
        80% 90%,
        10% 90%,
        15% 80%,
        10% 50%,
        20% 10%
    );
}

.intro{
    display:grid;
    grid-template-columns: 60% 40%;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.intro h3{
    font-size: 4rem;
    font-family: Urbanist, sans-serif;
    line-height: 1;
}
.intro h5{
    font-size: 1.2rem;
    font-family: Urbanist, sans-serif;
    opacity: 0.4;
    line-height: 1;
}
.intro h4{
    font-size: 2rem;
    font-family: Urbanist, sans-serif;
    line-height: 1.2;
}


/*Paragraph styles*/
p,h4,li{
    font-family: Urbanist, sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    color: #2d2d2d;
}
h1, h2, h3{
    font-family: 'Playfair Display SC', serif;
    color: #2d2d2d;
    font-weight: 400;
}
h3{
    font-size: 2.5em;
}
h4{
    font-size: 1.2em;
}
p{
    font-size: 1.1em;
}

.red{
    color:#7D0B16;
}


/*Individual project page */
.project_image{
    width:90%;
    border-radius: 10px;
    /*box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.2);*/
}
.process_section_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin:auto;
}
.process_details, .project_description{
    width:70%;
}
.process_section_head{
    text-align:center;
    margin:auto;
    margin-top: 10px;
}
.project_section_title{
    font-size: 1.5rem;
}
.slogans{
    text-align:center;
}
.process_image{
    width:100%;
    max-width: 800px;
    border-radius: 10px;
    /*box-shadow: 0px 0px 5px rgba(150, 150, 150, 0.3);*/
    margin:auto;
    margin-bottom: 5px;
}

.flex_gallery {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.cols-1 > * { flex: 0 0 100%; }
.cols-2 > * { flex: 0 0 45%; }
.cols-3 > * { flex: 0 0 30%; }
.cols-4 > * { flex: 0 0 24%; }
.cols-5 > * { flex: 0 0 18%; }

.final_highlight_images{
    display:grid;
    grid-template-columns: 48% 48%;
    gap:5px;
    justify-content: center;
    width:100%;
}
.final_highlight_spreads{
    display:grid;
    grid-template-columns: 100%;
    gap:5px;
    justify-content: center;
    width:100%;
}

.process_image_sketch{
    width:80%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(150, 150, 150, 0.4);
    margin:auto;
}
/*Page*/
body {
    background-color: #f2eee9;
    margin: 0;
    overflow-x: hidden;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

/*TO TOP Button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #7D0B16;
  color: white; 
  padding: 15px; 
  border-radius: 20%; 
  font-size: 18px;
  font-family: Urbanist, sans-serif;
}

#myBtn:hover {
  background-color: #2d2d2d; 
  cursor: url('images/curosr.png'), auto;
}
/*background pattern*/
.pattern-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    pointer-events: none;

    background-image: url('images/mtume_pattern_brown.svg');
    background-repeat: repeat;
    background-size: 250px; 
    opacity: 0.03; 
    animation: driftDiagonal 60s linear infinite;
}
@keyframes driftDiagonal {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 600px 600px;
    }
}



